{% extends "blocks/wrapper.html" %} 

{%block content%} 
{% include "includes/header.html"%} 

<form method="post">
        {%csrf_token%}
        <h1>Signup</h1>
        <input type="text" name="username" class="form-control" style="width: 400px;" placeholder="Username"><br><br>
        <input type="password" name="password" class="form-control" style="width: 400px;" placeholder="Password"><br><br>
        <input type="password" name="password_confrim" class="form-control" style="width: 400px;" placeholder="Password Confrim"><br><br>
        <button type="submit" class="btn btn-primary">Signup</button><br><br>
        <a href="/login">Login</a>
    </form>

{%endblock%}