{% extends "blocks/wrapper.html" %} 

{%block content%} 
{% include "includes/header.html"%} 

<h1>Upload</h1>

<form enctype="multipart/form-data" method="post">
    {%csrf_token%}
    <input type="file" name="file" style="width: 400px;" class="form-control"><br>
    <select name="access" class="form-control" style="width: 400px;">
        <option>General</option>
        <option>Private</option>
    </select><br>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

{%endblock%}