<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cloud Ride</title>
</head>
<body>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }
                
        td, th {
            border: 1.5px solid #4e4e4e;
            text-align: left;
            padding: 8px;
        }
    </style>
    <center>
    {%block content%}
    {%endblock%}
</body>
</html>